{% extends "base.html" %}

{% block title %}Add to Inventory{% endblock %}

{% block h1 %}Add to Inventory{% endblock %}

{% block content %}

    <p>
        <form action='inventory_recv'>
            Recipe Name? <input type='text' name='name' size'20'> <br>
            Ingredient Name? <input type='text' name='ingName' size'20'><br>
            Ingredient Amount? <input type='text' name='ingAmount' size'20'><br>
        </form>
    </p>
    <ul>
        <a href='index.html'> HOME </a>
    </ul>

    
{% endblock %}
