{% extends "base.html" %}

{% block title %}Add to Recipes{% endblock %}

{% block h1 %}Add to Recipes{% endblock %}

{% block content %}

    <p>
        <form action='liquor_types_recv'>
            Manufacturer Name? <input type='text' name='mfg' size'20'> <br>
            Liquor Name? <input type='text' name='lqr' size'20'><br>
            Liquor Type? <input type='text' name='typ' size'20'><br>
            <input type='submit'>
        </form>
    </p>
    <ul>
        <a href='index.html'> HOME </a>
    </ul>

    
{% endblock %}
